body {
    font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
body .container {
    width: calc(98%);
    transition: all 0.3s ease-in-out;
}
body.mini-navbar .container {
    width: calc(98%);
    transition: all 0.3s ease-in-out;
}
#notification-message {
    font-size: 1.8em; /* Adjust the font size as needed */
}
.container {
    width: 1200px;
    margin-top: 22px;
    margin-left: 12px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


h1 {
    padding-bottom: 12px;
    color: #FF9700;
}

.top-bar {
    display: flex;
    align-items: center;

}

.add-customer-btn {
    padding: 8px 15px;
    background-color: #FF9700;
    color: white;
    border: 1px solid #FF9700;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: auto;
    outline: none !important;
}
.add-customer-btn:focus{
    color: #ffffff;
}
.add-customer-btn:hover {
    background-color: #f57c00;
    color: #FFFFFF;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  /* Căn giữa theo chiều ngang */
    margin-right: 300px;
    margin-top: -4px;
    margin-left: auto;
    width: 500px;  /* Đặt chiều rộng cho ô tìm kiếm */
}
.search-container input[type="text"] {
    width: 500px;
    padding: 10px 100px 10px 15px;
    border: 1px solid #FF9700;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.search-container input[type="text"]:focus {
    border-color: #FF9700;
}

.search-container button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 90px;
    background-color: #FF9700;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

.search-container button:hover {
    background-color: #f57c00;
}

.show-users-btn {
    padding: 8px 15px;
    background-color: #FF9700;
    color: white;
    border: 1px solid #FF9700;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    outline: none !important;
}
.show-users-btn:focus{
    color: #ffffff;
}
.show-users-btn:hover {
    background-color: #f57c00;
    color: #FFFFFF;
}

.show-users-btn .badge {
    position: absolute;
    top: -7px;
    right: -12px;
    background-color: #d32f2f;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 20px;
}
/* Định dạng cho các thông báo tìm kiếm */
.alert-success, .alert-danger {
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Thêm biểu tượng vào thông báo thành công */
.alert-success::before {
    content: "\f058"; /* Font Awesome check icon */
    font-family: "Font Awesome 5 Free"; /* Đảm bảo Font Awesome đã được tải */
    font-weight: 900;
    margin-right: 10px;
    color: #28a745;
    font-size: 20px;
}

/* Thêm biểu tượng vào thông báo lỗi */
.alert-danger::before {
    content: "\f06a"; /* Font Awesome exclamation icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #dc3545;
    font-size: 20px;
}

/* Định dạng màu sắc và nền cho thông báo thành công */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Định dạng màu sắc và nền cho thông báo lỗi */
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Hiệu ứng chuyển động khi thông báo xuất hiện */
.alert-success, .alert-danger {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInDown 0.5s forwards;
}

/* Keyframes cho hiệu ứng fadeInDown */
@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {

    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    font-size: 15px;
    white-space: nowrap; /* Ngăn nội dung xuống dòng */
}
th:nth-child(1), td:nth-child(1) {
    width: 0; /* Đặt chiều rộng cụ thể cho cột STT */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
}
th:nth-child(2), td:nth-child(2) {
    width: 0;  /* Điều chỉnh chiều rộng của cột thứ 2 (Họ tên) */
}
th:nth-child(3), td:nth-child(3) {
    width: 0; /* Đặt chiều rộng cụ thể cho cột Avatar */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
}
th:nth-child(4), td:nth-child(4) {
    width: 0; /* Đặt chiều rộng cụ thể cho cột Ngày Sinh */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
}
th:nth-child(5), td:nth-child(5) {
    width: 0; /* Đặt chiều rộng cụ thể cho cột Email */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
}
th:nth-child(6), td:nth-child(6) {
    width: 0; /* Đặt chiều rộng cụ thể cho cột giới tính */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
}
th:nth-child(7), td:nth-child(7) {
    width: 0; /* Đặt chiều rộng cụ thể cho cột Trạng thái */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
}
th:nth-child(8), td:nth-child(8) {
    width: 0; /* Đặt chiều rộng cụ thể cho cột Thao tác  */
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu "..." nếu nội dung quá dài */
}
th {
    background-color: #6f2f9f;
    color: white;
    font-weight: bold;
}

tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #eaeaea;
}

.customer-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.edit-button, .delete-button {
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #007bff;
    border: none;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #ff0000;
    border: none;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.pagination {
    display: flex;
    justify-content: center; /* Căn giữa các phần tử trong phân trang */
    margin-top: 20px;
}

.pagination a {
    padding: 10px 16px;
    margin: 0 8px;
    background-color: #FF9700; /* Màu nền khi không chọn */
    color: white; /* Màu chữ trắng */
    text-decoration: none;
    border-radius: 50%; /* Đảm bảo hình tròn */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #DDDDDD; /* Thêm đường viền */
}
.pagination span {
    padding: 10px 16px;
    margin: 0 8px;
    background-color: #FF9700; /* Màu nền khi không chọn */
    color: white; /* Màu chữ trắng */
    text-decoration: none;
    border-radius: 50%; /* Đảm bảo hình tròn */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #DDDDDD; /* Thêm đường viền */
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #ee5711;
    border-color: #ddd;
}

.pagination a.active,
.pagination span.active {
    background-color: #FF9700; /* Màu nền khi chọn */
    border-color: #DDDDDD;
    color: white;
    cursor: default;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #ffffff;
    cursor: not-allowed;
    background-color: #FF9700;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #FF9700; /* Màu nền khi chọn */
    color: white; /* Màu chữ trắng */
    cursor: default;
    z-index: 2;
}

/* Sửa phần này để thêm đường viền đỏ khi active */
.pagination > .active > span {
    border: none;
    background-color: #ee5711;
}


.hidden {
    display: none;
}

#usersModal {
    display: block; /* Thêm cho modal khi hiển thị */
}
/* Thêm media queries cho màn hình dưới 768px */
@media (max-width: 768px) {
    .container {
        margin: 15px auto;
        padding: 10px;
        width: 100%; /* Đảm bảo container luôn chiếm toàn bộ chiều ngang */
    }

    .add-customer-btn {
        display: block;
        width: 15%; /* Chiếm toàn bộ chiều ngang */
        margin-bottom: 10px; /* Thêm khoảng cách bên dưới */
        text-align: center; /* Căn giữa nội dung */
    }

    .search-container {
        width: 28%; /* Chiếm toàn bộ chiều ngang container */
        margin: -12px 265px 0px 0px;
    }

    .search-container input[type="text"] {
        width: 227%; /* Điều chỉnh để phù hợp với chiều ngang container */
        padding: 10px; /* Giữ khoảng cách padding hợp lý */
    }

    .search-container button {
        width: 35%;
        margin-right: -279px;
    }

    .table-container {
        overflow-x: auto; /* Đảm bảo bảng không bị tràn màn hình */
    }
    .show-users-btn {
        padding: 7px 13px;
        font-size: 14px;
        border-radius: 5px;
        margin-top: -125px;
        margin-right: 14px;
    }
}

@media (max-width: 576px) {
    th, td {
        font-size: 12px;
    }
    .employee-image {
        width: 50px;
        height: 50px;
    }
    .pagination {
        flex-wrap: wrap;
    }
    .pagination a, .pagination span {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
}
/* Media queries cho màn hình dưới 426px */
@media (max-width: 426px) {
    h1 {
        font-size: 26px;
    }
    .top-bar {
        flex-direction: column; /* Chuyển từ hàng sang cột */
        align-items: flex-start; /* Căn trái các phần tử trong top-bar */
    }

    .add-customer-btn {
        width: 25%;
        padding: 8px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .search-container {
        width: 100%; /* Chiếm toàn bộ chiều ngang */
        margin-top: 10px; /* Khoảng cách từ nút add-customer-btn */
        gap: 5px; /* Khoảng cách giữa input và button */
        display: flex;
        flex-direction: column; /* Đảm bảo input và button nằm dưới nhau */
    }

    .search-container input[type="text"] {
        width: 79%;
        font-size: 11px;
        padding: 8px;
        margin-right: 212px;
    }

    .search-container button {
        width: 23%;
        padding: 8px;
        font-size: 12px;
        margin-right: 0px;
    }

    .show-users-btn {
        font-size: 13px;
        padding: 8px;
        margin-bottom: 50px;
        margin-top: -89px;
        margin-left: 219px;
        margin-right: 0px;
    }
    .show-users-btn .badge {
        position: absolute;
        top: -8px;
        right: -12px;
        background-color: #d32f2f;
        color: white;
        border-radius: 50%;
        padding: 4px 8px;
        font-size: 13px;
        width: 23px;
        height: 23px;
        text-align: center;
        line-height: 15px;
    }
}

/* Media queries cho màn hình dưới 375px */
@media (max-width: 376px) {
    .top-bar {
        flex-direction: column; /* Chuyển từ hàng sang cột */
        align-items: flex-start; /* Căn trái các phần tử trong top-bar */
    }

    .add-customer-btn {
        width: 31%; /* Chiếm toàn bộ chiều ngang */
        padding: 8px;
        font-size: 12px;
        margin-bottom: 10px; /* Khoảng cách giữa các phần tử */
    }

    .search-container {
        width: 100%; /* Chiếm toàn bộ chiều ngang */
        margin-top: 10px; /* Khoảng cách từ nút add-customer-btn */
        gap: 5px; /* Khoảng cách giữa input và button */
        display: flex;
        flex-direction: column; /* Đảm bảo input và button nằm dưới nhau */
    }

    .search-container input[type="text"] {
        width: 76%;
        font-size: 9px;
        padding: 8px;
        margin-right: 212px;

    }

    .search-container button {
        width: 26%; /* Chiếm toàn bộ chiều ngang */
        padding: 8px;
        font-size: 11px;
        margin-right: 0px;
    }

    .show-users-btn {
        font-size: 12px;
        padding: 8px;
        margin-bottom: 50px;
        margin-top: -89px;
        margin-left: 168px;
        margin-right: 0px;
    }
    .show-users-btn .badge {
        position: absolute;
        top: -8px;
        right: -12px;
        background-color: #d32f2f;
        color: white;
        border-radius: 50%;
        padding: 4px 8px;
        font-size: 13px;
        width: 23px;
        height: 23px;
        text-align: center;
        line-height: 15px;
    }
}

/* Media queries cho màn hình dưới 320px */
@media (max-width: 321px) {
    h1 {
        font-size: 26px;
    }
    .top-bar {
        flex-direction: column; /* Chuyển từ hàng sang cột */
        align-items: flex-start; /* Căn trái các phần tử trong top-bar */
    }

    .add-customer-btn {
        width: 30%;
        padding: 8px;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .search-container {
        width: 100%; /* Chiếm toàn bộ chiều ngang */
        margin-top: 10px; /* Khoảng cách từ nút add-customer-btn */
        gap: 5px; /* Khoảng cách giữa input và button */
        display: flex;
        flex-direction: column; /* Đảm bảo input và button nằm dưới nhau */
    }

    .search-container input[type="text"] {
        width: 82%;
        font-size: 9.6px;
        padding: 8px;
        margin-right: 212px;

    }

    .search-container button {
        width: 24%;
        padding: 8px;
        font-size: 11px;
        margin-right: 0px;
    }

    .show-users-btn {
        font-size: 13px;
        padding: 8px;
        margin-bottom: 50px;
        margin-top: -85px;
        margin-left: 178px;
        margin-right: 0px;
    }
    .show-users-btn .badge {
        position: absolute;
        top: -8px;
        right: -12px;
        background-color: #d32f2f;
        color: white;
        border-radius: 50%;
        padding: 4px 8px;
        font-size: 13px;
        width: 23px;
        height: 23px;
        text-align: center;
        line-height: 15px;
    }
}

