
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
}

.container {
    width: 1200px;
    margin-top: 22px;
    margin-left: 12px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    padding-bottom: 20px;
    color: #FF9700;
}

.top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-customer-btn {
    padding: 8px 15px;
    background-color: #FF9700;
    color: white;
    border: 1px solid #FF9700;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: auto;
}

.add-customer-btn:hover {
    background-color: #45a049;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 350px;
}

.search-container input[type="text"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #FF9700;
    border-radius: 5px;
    outline: none;
}

.search-container input[type="text"]:focus {
    border-color: #FF9700;
}

.search-container button {
    padding: 8px 15px;
    background-color: #FF9700;
    color: white;
    border: 1px solid #FF9700;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #f57c00;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    background-color: #fff;
}

/* Hình ảnh khách hàng - Giảm kích thước */
.customer-image {
    width: 70px; /* Điều chỉnh kích thước nhỏ hơn cho hình ảnh */
    height: 70px; /* Điều chỉnh kích thước nhỏ hơn cho hình ảnh */
    border-radius: 5px; /* Bo tròn các góc của hình ảnh */
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

/* Nút Sửa - màu xanh */
.edit-button {
    padding: 8px 15px;
    background-color: #007bff; /* Màu xanh cho nút Sửa */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0056b3; /* Màu xanh đậm hơn khi hover */
}

/* Nút Xóa - màu đỏ */
.delete-button {
    padding: 8px 15px;
    background-color: #ff0000; /* Màu đỏ cho nút Xóa */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d32f2f; /* Màu đỏ đậm hơn khi hover */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #0056b3;
}
