.navbar_menu li a {
  text-decoration: none; /* Xóa gạch chân mặc định */
}
.navbar_menu {
  margin-right: 200px;
}
.navbar_users {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 50px;
}

.navbar_users li {
  margin-right: 50px;
}

.navbar_users li a {
  display: flex;
  align-items: center;
  color: #fffffc;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.navbar_users li a:hover {
  color: #a6a8aa;
}

.navbar_users li a i {
  margin-right: 8px;
  font-size: 18px;
}
